{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <h1>Campanhas</h1>
  
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Campanha</th>
                <th>Código</th>
            </tr>
        </thead>
        <tbody>
            {% for campaign in campaigns %}
            <tr>
                <td>{{ campaign.name }}</td>
                <td>{{ campaign.id }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">Nenhuma número encontrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<pre>
    {{campaigns}}
</pre>

</div>

{% endblock %}


